<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <header class="header header-bg">
    <div class="wrap">
      <h3 class="fz-h3 fw-medium txt-color-white">Here’s</h3>
      <h1 class="fz-h1 fw-medium txt-color-white">JOANNE</h1>
      <h3 class="fz-h3 fw-medium txt-color-white mt-3">Founder of "XXXD Official" & Graphic Designer</h3>
      <div class="social-icon mt-5">
        <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/380a3830c5ec79e65f02eb756c218209a90ebe10/week2/behance.svg" alt="behance">
        <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/380a3830c5ec79e65f02eb756c218209a90ebe10/week2/facebook.svg" alt="facebook">
        <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/380a3830c5ec79e65f02eb756c218209a90ebe10/week2/instagram.svg" alt="instagram">
        <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/380a3830c5ec79e65f02eb756c218209a90ebe10/week2/youtube.svg" alt="youtube">
      </div>
    </div>
  </header>

  <%- contents %>

  <footer class="footer">
    <div class="container">
      <h2 class="fz-h2 fw-medium">Contact</h2>
      <h4><a class="fz-h4 mt-2 fw-medium" href="mailto:xxxd@hexschool.com">Mail：xxxd@hexschool.com</a></h4>
      <h4><a  class="fz-h4 mt-2 fw-medium" href="tel:+886910123456">Phone Number：0910123456</a></h4>
    </div>
  </footer>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
